<div id="left-sidebar" class="sidebar ">
    <p> <b>Weather Meteology</b></p>
    <nav id="left-sidebar-nav" class="sidebar-nav">
        <ul class="metismenu">
            <li class="g_heading">Menus</li>
            <li><a href="#!dashboard">Dashboard</span></a></li>
            <li><a href="#!cameras"><span>Live Camera</span></a></li>
            <li><a href="#!hospital"><span>Hospitals</a></i>
            <li><a href="#!airport"><span>Air Ports</a></i>
            <li><a href="#!weatherstation"><span>Weather Stations</a></i>
            <li><a href="#!passenger"><span>Passenger Ports</a></i>
            <li><a href="#!subways"><span>Subways</a></i>
            <li><a href="#!ports"><span>Port Authority</a></i>
            <li><a href="#!moon"><span>Moons</a></i>
            <li><a href="#!slipways"><span>Slip Ways</a></i>
            <li><a href="#!skicenter"><span>Ski Center</a></i>
            <li><a href="#!kite"><span>Kite Surfing</a></i>
            <li><a href="#!mountain"><span>Mountain Shelter</a></i>
            <li><a href="#!camping"><span>Camping</a></i>
            <li><a href="#!fishingshelter"><span>Fishing Shelter</a></i>
            <li><a href="#!payment"><span>Payment</a></i>
            <li><a href="#!userprofiles"><span>User Profile</a></i>
            <li><a href="#!blockuser"><span>Block Accounts</a></i>
            <li><a href="#!settings">
                <span data-ng-if="window.lang == 'E' ">Setting</span>
                <span data-ng-if="window.lang == 'G' ">Ρύθμιση</span>
            </a></i>
            <li><a href="/logout"><span>Logout</a></i>

    </nav>
</div>