<style>
    .map-container {
        overflow: hidden;
        padding-bottom: 56.25%;
        position: relative;
        height: 0;
    }

    .map-container iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }
</style>

<!-- <div class="section-body mt-3">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-md-flex justify-content-between mb-2">
                            <ul class="nav nav-tabs b-none">
                                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#list"><i
                                            class="fa fa-list-ul"></i> Live Camera</a></li>
                            </ul>
                        </div>
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-12">
                                <div class="input-group mb-1">
                                    <input type="text" class="form-control" placeholder="Location Name">
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12">
                                <a href="javascript:void(0);" class="btn btn-primary btn-block mb-1" title="">Search</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="section-body mt-3">
    <div class="container-fluid">
        <div class="tab-content">
            <div class="tab-pane fade show active" id="list" role="tabpanel">
                <div class="row clearfix">
                    <div class="col-xl-12 col-lg-12 col-md-12">
                        <div class="card">
                            <div class="card-body text-center">
                                <div class="container-lg">
                                    <div class="table-responsive">
                                        <div class="table-wrapper">
                                            <div class="table-title">
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-12 col-lg-12  ">
                                                        <h2><b>Live Camera Location</b></h2>
                                                        <button data-toggle="tab" href="#addnew"
                                                            class=" text-center btn btn-info "
                                                            style="margin-top: 20px;"><i class="fa fa-plus"
                                                                style="padding: 3px;"></i>Add New</button>
                                                    </div>

                                                </div>
                                            </div>
                                            <table class="table table-bordered" id="camera_listing_table">
                                                <thead>
                                                    <tr>

                                                        <th>City</th>
                                                        <th>Image</th>
                                                        <th>Hosting</th>
                                                        <th>Tel</th>
                                                        <th>Site</th>
                                                        <th>Latitude</th>
                                                        <th>Longitude</th>
                                                        <th>Action</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr data-ng-repeat="camera in cameras">
                                                        <td>{{camera.city}}</td>
                                                        <td>
                                                            <a href="http://116.203.99.209:7000/{{camera.image}}"
                                                                data-lightbox="image-{{$index+1}}"
                                                                data-title="{{wstation.name}}"><img
                                                                    src="http://116.203.99.209:7000/{{camera.image}}"
                                                                    alt="http://116.203.99.209:7000/{{camera.image}}"
                                                                    class="img-thumbnail"></a>
                                                            <!-- <img src="http://116.203.99.209:7000/{{camera.image}}"
                                                                alt="" srcset=""> -->
                                                        </td>
                                                        <td>{{camera.hosting}}</td>
                                                        <td>{{camera.TEL}}</td>
                                                        <td>{{camera.site}}</td>
                                                        <td>{{camera.latitude}}°</td>
                                                        <td>{{camera.longitude}}°</td>
                                                        <td>
                                                            <a class="text-danger" data-ng-click="delete($index,camera)"
                                                                title="Delete" data-toggle="tooltip"><i
                                                                    class="material-icons">&#xE872;</i></a>
                                                            <a data-toggle="tooltip" title="Edit"
                                                                data-ng-click="edit($index,camera)" class="edit">
                                                                <i class="fa fa-pencil material-icons"></i></a>

                                                        </td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

<div class="section-body">
    <div class="container-fluid">
        <!-- UPDATE START -->
        <div class="tab-pane" style="display: none;" id="updatecamera" role="tabpanel">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Update Live Camera Locations</h3>
                        </div>
                        <form class="card-body">
                            <div class="row clearfix">
                                <div class="col-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" data-ng-model="editing_camera.city"
                                            placeholder="Enter City Name">
                                    </div>

                                    <div class="form-group">
                                        <input type="text" class="form-control"
                                            data-ng-model="editing_camera.countryName" placeholder="Enter Country Name">
                                    </div>

                                    <div class="form-group">
                                        <input type="text" class="form-control" data-ng-model="editing_camera.hosting"
                                            placeholder="Hosting URL">
                                    </div>

                                    <div class="form-group">
                                        <input type="text" class="form-control" data-ng-model="editing_camera.site"
                                            placeholder="Enter Hospital Website Address">
                                    </div>
                                </div>

                                <div class="col-md-12 col-sm-12">
                                    <div id="cameras-update-map-container" class="z-depth-1-half map-container"
                                        style="height: 500px;">

                                    </div>
                                </div>

                                <div class="col-md-4" style="margin-top: 10px;">
                                    <div class="form-group">
                                        <label>Telphone</label>
                                        <input type="text" class="form-control" data-ng-model="editing_camera.TEL">
                                    </div>
                                </div>

                                <div class="col-md-4" style="margin-top: 10px;">

                                    <div class="form-group mt-2 mb-3">
                                        <input type="file" class="dropify" file-model="myFile">

                                    </div>

                                </div>



                                <div class="col-md-4" style="margin-top: 10px;">
                                    <div class="form-group">
                                        <label>Longitude</label>
                                        <input type="text" readonly class="form-control longitude_input"
                                            id="editing_camera_longitude" data-ng-model="editing_camera.longitude">
                                    </div>
                                </div>

                                <div class="col-md-4" style="margin-top: 10px;">
                                    <div class="form-group">
                                        <label>Latitude</label>
                                        <input type="text" readonly class="form-control latitude_input"
                                            id="editing_camera_latitude" data-ng-model="editing_camera.latitude">
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group mt-3">
                                        <button type="submit" data-ng-click='save()'
                                            class="btn btn-success">Save</button>
                                    </div>
                                </div>


                                <div class="col-sm-6">
                                    <div class="form-group mt-3" style="margin-left: 400px;">
                                        <button type="submit" class="btn btn-success"
                                            data-ng-click="hide('updatecamera')">Cancel</button>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- UPDATE ENDS -->
    </div>
</div>

<div class="section-body">
    <div class="container-fluid">
        <!-- ADD NEW START -->
        <div class="tab-pane fade" id="addnew" role="tabpanel">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Add Live Camera Locations</h3>
                        </div>
                        <form class="card-body">
                            <div class="row clearfix">
                                <div class="col-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="exampleInputPassword1"
                                            data-ng-model="camera.city" placeholder="Enter City Name">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="exampleInputPassword1"
                                            data-ng-model="camera.countryName" placeholder="Enter Country Name">
                                    </div>

                                    <div class="form-group">
                                        <input type="text" class="form-control" id="exampleInputPassword1"
                                            data-ng-model="camera.hosting" placeholder="Hosting URL">
                                    </div>

                                    <div class="form-group">
                                        <input type="text" class="form-control" id="exampleInputPassword1"
                                            data-ng-model="camera.site" placeholder="Enter Hospital Website Address">
                                    </div>
                                </div>

                                <div class="col-md-12 col-sm-12">
                                    <div id="cameras-map-container" class="z-depth-1-half map-container"
                                        style="height: 500px;">

                                    </div>
                                </div>

                                <div class="col-md-3" style="margin-top: 10px;">
                                    <div class="form-group">
                                        <label>Telphone</label>
                                        <input type="text" class="form-control" data-ng-model="camera.TEL">
                                    </div>
                                </div>



                                <div class="col-md-3" style="margin-top: 10px;">
                                    <div class="form-group">
                                        <label>Longitude</label>
                                        <input type="text" id="camera_longitude" readonly
                                            class="form-control longitude_input" data-ng-model="camera.longitude">
                                    </div>
                                </div>

                                <div class="col-md-3" style="margin-top: 10px;">

                                    <div class="form-group mt-2 mb-3">
                                        <input type="file" class="dropify" file-model="myFile">

                                    </div>

                                </div>

                                <div class="col-md-3" style="margin-top: 10px;">
                                    <div class="form-group">
                                        <label>Latitude</label>
                                        <input type="text" id="camera_latitude" readonly
                                            class="form-control latitude_input" data-ng-model="camera.latitude">
                                    </div>
                                </div>


                                <div class="col-sm-6">
                                    <div class="form-group mt-3">
                                        <button type="submit" data-ng-click='submit()'
                                            class="btn btn-success">Submit</button>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group mt-3" style="margin-left: 400px;">
                                        <button type="submit" class="btn btn-success"
                                            data-ng-click="hide('addnew')">Cancel</button>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- ADD NEW ENDS -->
    </div>
</div>

<script>
    includeHTML();
</script>