<style>
    .map-container {
        overflow: hidden;
        padding-bottom: 56.25%;
        position: relative;
        height: 0;
    }

    .map-container iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }
</style>

<!-- <div class="section-body mt-3">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-md-flex justify-content-between mb-2">
                            <ul class="nav nav-tabs b-none">
                                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#list"><i
                                            class="fa fa-list-ul"></i> Kite Surfing List</a></li>
                            </ul>
                        </div>
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-12">
                                <div class="input-group mb-1">
                                    <input type="text" class="form-control" placeholder="Kite Surfing Area Name">
                                </div>


                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12">
                                <a href="javascript:void(0);" class="btn btn-primary btn-block mb-1" title="">Search</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="section-body mt-3">
    <div class="container-fluid">
        <div class="tab-content">
            <div class="tab-pane show active"  id="list" role="tabpanel">
                <div class="row clearfix">
                    <div class="col-xl-12 col-lg-12 col-md-12">
                        <div class="card">
                            <div class="card-body text-center">
                                <div class="container-lg">
                                    <div class="table-responsive">
                                        <div class="table-wrapper">
                                            <div class="table-title">
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                                        <h2><b> Kite Surfing Location</b></h2>
                                                        <button data-toggle="tab" href="#addnew"
                                                            class=" text-center btn btn-info "
                                                            style="margin-top: 20px;"><i class="fa fa-plus"
                                                                style="padding: 3px;"></i>Add New</button>

                                                    </div>

                                                </div>
                                            </div>
                                            <table datatable="ng" class="table table-bordered" id="kite_listing_table">
                                                <thead>
                                                    <tr>
                                                        <th>Name</th>
                                                        <th>Address</th>
                                                        <th>Website</th>
                                                        <th>Zip Code</th>
                                                        <th>Tel</th>
                                                        <th>Latitude</th>
                                                        <th>Longitude</th>
                                                        <th>Action</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr data-ng-repeat="kite in kites">
                                                        <td>{{kite.name}}</td>
                                                        <td>{{kite.address}}</td>
                                                        <td>{{kite.site}}</td>
                                                        <td>{{kite.zipCode}}</td>
                                                        <td>{{kite.TEL}}</td>
                                                        <td>{{kite.latitude}}°</td>
                                                        <td>{{kite.longitude}}°</td>
                                                        <td>
                                                            <a class="text-danger" data-ng-click="delete($index,kite)"
                                                                data-toggle="tooltip"><i
                                                                    class="material-icons">&#xE872;</i></a>
                                                            <a data-toggle="tab" title="Edit" class="edit"
                                                                data-ng-click="edit($index,kite)"><i
                                                                    class="fa fa-pencil material-icons"></i></a>

                                                        </td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

<div class="section-body">
    <div class="container-fluid">
        <div class="tab-pane  active fade" id="addnew" role="tabpanel">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Add Kite Surfing Location</h3>
                        </div>
                        <form class="card-body">
                            <div class="row clearfix">
                                <div class="col-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" data-ng-model="kite.name"
                                            placeholder="Enter Kite Surfing Location Name">
                                    </div>

                                    <div class="form-group">
                                        <input type="text" class="form-control" data-ng-model="kite.address"
                                            placeholder="Enter Kite Surfing Location Address">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" data-ng-model="kite.site"
                                            placeholder="Enter Kite Surfing Website">
                                    </div>


                                </div>


                                <div class="col-md-12 col-sm-12">
                                    <div id="kite-map-container-google" class="z-depth-1-half map-container"
                                        style="height: 500px;">

                                    </div>
                                </div>


                                <div class="col-md-6" style="margin-top: 10px;">
                                    <div class="form-group">
                                        <label>Longitude</label>
                                        <input type="text" id="kite_longitude" class="form-control" data-ng-model="kite.longitude" readonly>
                                    </div>
                                </div>
                                <div class="col-md-6" style="margin-top: 10px;">
                                    <div class="form-group">
                                        <label>Latitude</label>
                                        <input type="text" id="kite_latitude" class="form-control" data-ng-model="kite.latitude" readonly>
                                    </div>
                                </div>

                                <div class="col-md-6" style="margin-top: 10px;">
                                    <div class="form-group">
                                        <label>ZipCode</label>
                                        <input type="text" class="form-control" data-ng-model="kite.zipCode">
                                    </div>
                                </div>
                                <div class="col-md-6" style="margin-top: 10px;">
                                    <div class="form-group">
                                        <label>Telephone Number</label>
                                        <input type="text" class="form-control" data-ng-model="kite.TEL">
                                    </div>
                                </div>




                                <div class="col-sm-6">
                                    <div class="form-group mt-3">
                                        <button type="submit" data-ng-click="submit()"
                                            class="btn btn-success">Submit</button>
                                    </div>
                                </div>


                                <div class="col-sm-6">
                                    <div class="form-group mt-3" style="margin-left: 400px;">
                                        <button type="submit" class="btn btn-success">Cancel</button>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Update -->
<div class="section-body">
    <div class="container-fluid">
        <div class="tab-pane " style="display: none;" id="updatekite" role="tabpanel">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Update Kite Surfing Location</h3>
                        </div>
                        <form class="card-body">
                            <div class="row clearfix">
                                <div class="col-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" data-ng-model="editing.name"
                                            placeholder="Enter Kite Surfing Location Name">
                                    </div>

                                    <div class="form-group">
                                        <input type="text" class="form-control" data-ng-model="editing.address"
                                            placeholder="Enter Kite Surfing Location Address">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" data-ng-model="editing.site"
                                            placeholder="Enter Kite Surfing Website">
                                    </div>


                                </div>


                                <div class="col-md-12 col-sm-12">
                                    <div id="editing-kite-map-container-google" class="z-depth-1-half map-container"
                                        style="height: 500px;">

                                    </div>
                                </div>


                                <div class="col-md-6" style="margin-top: 10px;">
                                    <div class="form-group">
                                        <label>Longitude</label>
                                        <input type="text" id="editing_kite_longitude" class="form-control" data-ng-model="editing.longitude" readonly>
                                    </div>
                                </div>
                                <div class="col-md-6" style="margin-top: 10px;">
                                    <div class="form-group">
                                        <label>Latitude</label>
                                        <input type="text" id="editing_kite_latitude" class="form-control" data-ng-model="editing.latitude" readonly>
                                    </div>
                                </div>

                                <div class="col-md-6" style="margin-top: 10px;">
                                    <div class="form-group">
                                        <label>ZipCode</label>
                                        <input type="text" class="form-control" data-ng-model="editing.zipCode">
                                    </div>
                                </div>
                                <div class="col-md-6" style="margin-top: 10px;">
                                    <div class="form-group">
                                        <label>Telephone Number</label>
                                        <input type="text" class="form-control" data-ng-model="editing.TEL">
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group mt-3">
                                        <button type="submit" data-ng-click="save()"
                                            class="btn btn-success">Save</button>
                                    </div>
                                </div>


                                <div class="col-sm-6">
                                    <div class="form-group mt-3" style="margin-left: 400px;">
                                        <button type="submit" class="btn btn-success">Cancel</button>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>