<div class="section-body mt-3">
    <div class="container-fluid">
        <div class="tab-content">
            <div class="tab-pane fade show active" id="list" role="tabpanel">
                <div class="row clearfix">
                    <div class="col-xl-12 col-lg-12 col-md-12">
                        <div class="card">
                            <div class="card-body text-center">
                                <div class="container-lg">
                                    <div class="table-responsive">
                                        <div class="table-wrapper">
                                            <div class="table-title">
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                                        <h2><b>Moon Phases Calender</b></h2>
                                                        <button data-toggle="tab" href="#addnew"
                                                            class=" text-center btn btn-info "
                                                            style="margin-top: 20px;"><i class="fa fa-plus"
                                                                style="padding: 3px;"></i>Add New</button>

                                                    </div>

                                                </div>
                                            </div>
                                            <div class="row clearfix row-deck" style="margin-top: 20px;">
                                                <table class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>Image</th>
                                                            <th>Month</th>
                                                            <th>Year</th>
                                                            <th>Action</th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr data-ng-repeat="moon in moons" id="moon_listing_table">
                                                            <td>

                                                                <a href="https://www.meteologyapp.site/{{moon.image}}"
                                                                    data-lightbox="image-{{$index+1}}"
                                                                    data-title="{{wstation.name}}"><img
                                                                        src="https://www.meteologyapp.site/{{moon.image}}"
                                                                        alt="https://www.meteologyapp.site/{{moon.image}}"
                                                                        class="img-thumbnail"></a>

                                                                <!-- <img src="images/slipways.png " /> -->


                                                            </td>
                                                            <td>{{months[moon.month-1]}}</td>
                                                            <td>{{moon.year}}</td>
                                                            <td>
                                                                <a class="text-danger" data-ng-click="delete($index)"
                                                                    title="Delete" data-toggle="tooltip"><i
                                                                        class="material-icons">&#xE872;</i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-body">
        <div class="container-fluid">
            <div class="tab-pane fade" id="addnew" role="tabpanel">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Add Moon Phase Calender</h3>
                            </div>
                            <form class="card-body">
                                <div class="row clearfix">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group mt-2 mb-3">
                                            <input type="file" class="dropify" file-model="myFile">
                                            <small id="fileHelp" class="form-text text-muted">Upload
                                                Moon Images</small>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-sm-6">

                                        <div class="row">
                                            <div class="form-group">
                                                <label>Enter Year</label>
                                                <input type="number" min="1980" max="2060" class="form-control"
                                                    data-ng-model="moonc.year">
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group">
                                                <label>Select Month</label>
                                                <select class="custom-select" data-ng-model="moonc.month">
                                                    <option value="1" selected>January</option>
                                                    <option value="2">February</option>
                                                    <option value="3">March</option>
                                                    <option value="4">April</option>
                                                    <option value="5">May</option>
                                                    <option value="6">June</option>
                                                    <option value="7">July</option>
                                                    <option value="8">August</option>
                                                    <option value="9">September</option>
                                                    <option value="10">October</option>
                                                    <option value="11">November</option>
                                                    <option value="12">December</option>
                                                </select>
                                            </div>
                                        </div>

                                    </div>


                                    <div class="col-sm-6">
                                        <div class="form-group mt-3">
                                            <button type="submit" data-ng-click="submit()"
                                                class="btn btn-success">Submit</button>
                                        </div>
                                    </div>


                                    <div class="col-sm-6">
                                        <div class="form-group mt-3" style="margin-left: 300px;">
                                            <button type="submit" class="btn btn-success">Cancel</button>
                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>