<div class="section-body">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="d-lg-flex justify-content-between">
                    <ul class="nav nav-tabs page-header-tab">

                        <li class="nav-item"><a class="nav-link" data-toggle="tab"
                                data-target="#Language">LanguageSetting </a>
                        </li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" data-target="#Change_Password">Change
                                Password </a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" data-target="#Access">Access </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-body">
    <div class="container-fluid">

        <div class="row clearfix">
            <div class="col-md-12">
                <div class="tab-content">
                    <div class="tab-pane active show" id="Language">

                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Language Setting - {{lang}}</h3>
                            </div>
                            <div class="card-body">
                                <div class="form-check">
                                    <input data-ng-model="lan" value="E" class="form-check-input" type="radio"
                                        name="flexRadioDefault" id="flexRadioDefault1">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        English
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input data-ng-model="lan" value="G" class="form-check-input" type="radio"
                                        name="flexRadioDefault" id="flexRadioDefault2" checked>
                                    <label class="form-check-label" for="flexRadioDefault2">
                                        Greek
                                    </label>
                                </div>
                                <div class="col-sm-12 mt-20">
                                    <button type="button" data-ng-click="changelang()"
                                        class="btn btn-primary">SAVE</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="Change_Password">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Change Password</h3>
                            </div>
                            <div class="card-body">
                                <div class="row clearfix">
                                    <div class="col-lg-4 col-md-12">
                                        <div class="form-group">
                                            <input type="text" readonly class="form-control" data-ng-model="username"
                                                placeholder="Username">
                                        </div>
                                    </div>
                                    <!-- <div class="col-lg-4 col-md-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Phone Number">
                                        </div>
                                    </div> -->
                                    <div class="col-lg-12 col-md-12">
                                        <hr>
                                        <h6>Change Password</h6>
                                        <!-- <div class="form-group">
                                            <input type="password" class="form-control" placeholder="Current Password">
                                        </div> -->
                                        <div class="form-group">
                                            <input type="password" data-ng-model="password" class="form-control"
                                                placeholder="New Password">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" data-ng-model="cpassword" class="form-control"
                                                placeholder="Confirm New Password">
                                        </div>
                                        <div class="form-group text-danger"
                                            data-ng-if="password!=cpassword && password!=null && cpassword!=null">
                                            password not matching
                                        </div>
                                    </div>
                                    <div class="col-sm-12 m-t-20 text-right">
                                        <button type="button" class="btn btn-primary" data-ng-click="changepass()"
                                            data-ng-disabled="password!=cpassword">SAVE</button> &nbsp;
                                        <button type="button" class="btn btn-default">CANCEL</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- access -->
                    <div class="tab-pane" id="Access">
                        <div class="card-body">
                            <div class="row clear fix">
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group">
                                        <input type="text" data-ng-model="access.username" class="form-control"
                                            placeholder="Enter User Name">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group">
                                        <input type="email" data-ng-model="access.email" class="form-control"
                                            placeholder="Enter Email ID">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group">
                                        <input type="password" data-ng-model="access.password" class="form-control"
                                            placeholder="Enter Password">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group">
                                        <input type="password" data-ng-model="access.confirm_password"
                                            class="form-control" placeholder="Enter Confrim Password">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Access</h3>
                            </div>
                            <div class="card-body">
                                <ul class="list-group mb-3 tp-setting">
                                    <li class="list-group-item">
                                        Live Camera
                                        <div class="float-right">
                                            <label class="custom-control custom-checkbox">
                                                <input type="checkbox" value="1" class="custom-control-input" />
                                                <span class="custom-control-label">&nbsp;</span>
                                            </label>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        Hospitals
                                        <div class="float-right">
                                            <label class="custom-control custom-checkbox">
                                                <input type="checkbox" value="2" class="custom-control-input" />
                                                <span class="custom-control-label">&nbsp;</span>
                                            </label>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        Air Ports
                                        <div class="float-right">
                                            <label class="custom-control custom-checkbox">
                                                <input type="checkbox" value="3" class="custom-control-input" />
                                                <span class="custom-control-label">&nbsp;</span>
                                            </label>
                                        </div>
                                    </li>

                                    <li class="list-group-item">
                                        Weather Station
                                        <div class="float-right">
                                            <label class="custom-control custom-checkbox">
                                                <input type="checkbox" value="4" class="custom-control-input" />
                                                <span class="custom-control-label">&nbsp;</span>
                                            </label>
                                        </div>
                                    </li>

                                    <li class="list-group-item">
                                        Passenger Port
                                        <div class="float-right">
                                            <label class="custom-control custom-checkbox">
                                                <input type="checkbox" value="5" class="custom-control-input" />
                                                <span class="custom-control-label">&nbsp;</span>
                                            </label>
                                        </div>
                                    </li>

                                    <li class="list-group-item">
                                        Subways
                                        <div class="float-right">
                                            <label class="custom-control custom-checkbox">
                                                <input type="checkbox" value="6" class="custom-control-input" />
                                                <span class="custom-control-label">&nbsp;</span>
                                            </label>
                                        </div>
                                    </li>

                                    <li class="list-group-item">
                                        Port Authority
                                        <div class="float-right">
                                            <label class="custom-control custom-checkbox">
                                                <input type="checkbox" value="7" class="custom-control-input" />
                                                <span class="custom-control-label">&nbsp;</span>
                                            </label>
                                        </div>
                                    </li>

                                    <li class="list-group-item">
                                        Moons
                                        <div class="float-right">
                                            <label class="custom-control custom-checkbox">
                                                <input type="checkbox" value="8" class="custom-control-input" />
                                                <span class="custom-control-label">&nbsp;</span>
                                            </label>
                                        </div>
                                    </li>

                                    <li class="list-group-item">
                                        Slip Ways
                                        <div class="float-right">
                                            <label class="custom-control custom-checkbox">
                                                <input type="checkbox" value="9" class="custom-control-input" />
                                                <span class="custom-control-label">&nbsp;</span>
                                            </label>
                                        </div>
                                    </li>

                                    <li class="list-group-item">
                                        Ski Center
                                        <div class="float-right">
                                            <label class="custom-control custom-checkbox">
                                                <input type="checkbox" value="10" class="custom-control-input" />
                                                <span class="custom-control-label">&nbsp;</span>
                                            </label>
                                        </div>
                                    </li>

                                    <li class="list-group-item">
                                        Kite Surfing
                                        <div class="float-right">
                                            <label class="custom-control custom-checkbox">
                                                <input type="checkbox" value="11" class="custom-control-input" />
                                                <span class="custom-control-label">&nbsp;</span>
                                            </label>
                                        </div>
                                    </li>

                                    <li class="list-group-item">
                                        Mountain Shelter
                                        <div class="float-right">
                                            <label class="custom-control custom-checkbox">
                                                <input type="checkbox" value="12" class="custom-control-input" />
                                                <span class="custom-control-label">&nbsp;</span>
                                            </label>
                                        </div>
                                    </li>


                                    <li class="list-group-item">
                                        Camping
                                        <div class="float-right">
                                            <label class="custom-control custom-checkbox">
                                                <input type="checkbox" value="13" class="custom-control-input" />
                                                <span class="custom-control-label">&nbsp;</span>
                                            </label>
                                        </div>
                                    </li>

                                    <li class="list-group-item">
                                        Fishing Shelter
                                        <div class="float-right">
                                            <label class="custom-control custom-checkbox">
                                                <input type="checkbox" value="14" class="custom-control-input" />
                                                <span class="custom-control-label">&nbsp;</span>
                                            </label>
                                        </div>
                                    </li>

                                    <li class="list-group-item">
                                        User Profile
                                        <div class="float-right">
                                            <label class="custom-control custom-checkbox">
                                                <input type="checkbox" value="15" class="custom-control-input" />
                                                <span class="custom-control-label">&nbsp;</span>
                                            </label>
                                        </div>
                                    </li>

                                    <li class="list-group-item">
                                        Block Accounts
                                        <div class="float-right">
                                            <label class="custom-control custom-checkbox">
                                                <input type="checkbox" value="16" class="custom-control-input" />
                                                <span class="custom-control-label">&nbsp;</span>
                                            </label>
                                        </div>
                                    </li>

                                    <li class="list-group-item">
                                        Payments
                                        <div class="float-right">
                                            <label class="custom-control custom-checkbox">
                                                <input type="checkbox" value="17" class="custom-control-input" />
                                                <span class="custom-control-label">&nbsp;</span>
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                                <div class="text-center col-12">
                                    <div class="row">
                                        <button type="button" data-ng-click="create()"
                                            class="btn btn-primary">Create</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>