<div class="section-body mt-3">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-md-flex justify-content-between mb-2">

                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-4 col-sm-12">
                                <div class="input-group mb-1">
                                    <input type="text" data-ng-model="comp_c" class="form-control" placeholder="Name">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-4 col-sm-12">
                                <a href="javascript:void(0);" data-ng-click="applyfilter()" class="btn btn-primary btn-block mb-1"
                                    title="">Search</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-body">
    <div class="container-fluid">
        <div class="tab-content">
            <div class="tab-pane fade show active" id="list" role="tabpanel">
                <div class="row clearfix">
                    <div class="col-xl-4 col-lg-4 col-md-6" data-ng-repeat="user in users | filter: comp">
                        
                        <div class="card" >
                            <div class="card-body text-center">
                                <img class="rounded-circle img-thumbnail w100" src="views/images/default.png"
                                    alt="">
                                <h6 class="mt-3 mb-0">{{user.firstname}}&nbsp;{{user.lastname}}</h6>
                                <span>{{user.email}}</span>

                                <div class="row text-center mt-4">
                                    <div class="col-12">

                                        <button data-ng-if="user.status=='ACTIVE'" data-ng-click="block($index,user)" class="mb-0 btn badge-danger">Block</button>
                                        <button data-ng-if="user.status!='ACTIVE'" data-ng-click="unblock($index,user)" class="mb-0 btn badge-success">Un-Block</button>

                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

            </div>

        </div>
    </div>
</div>